pandas==2.2.2
numpy==1.26.4
requests==2.32.3
psycopg2-binary==2.9.9
toml==0.10.2
torch==2.3.0
torchvision
torchaudio
transformers==4.44.0
bitsandbytes
peft==0.13.2
matplotlib==3.9.1
seaborn==0.13.2
wheel
setuptools
ninja
packaging
mlflow
sentencepiece
pyspark
ipykernel